<section class="container">
  <div class="row">

    <div class="col-xs-6 col-sm-6 col-md-6">

      <div id="left-bar">
        <textarea id="thread-form" placeholder="スレッド名"></textarea>
        <div id="thread-create-button">作成</div>
        <p id="current-thread"></p>
      </div>

    </div>


    <div class="col-xs-6 col-sm-6 col-md-6">


      <div id="chat-main">
        <ul id="chat-timeline"></ul>
        <div id="chat-form">
          <textarea id="chat-textarea"></textarea>
          <div id="chat-send-button">送信</div>
        </div>
      </div>


    </div>
  </div>
</section>
