<div id="chat-main">
  <div id="left-bar">
    <textarea id="thread-form" placeholder="スレッド名"></textarea>
    <div id="thread-create-button">作成</div>
    <p id="current-thread"></p>
  </div>
  <ul id="chat-timeline"></ul>
  <div id="chat-form">
    <textarea id="chat-textarea"></textarea>
    <div id="chat-send-button">送信</div>
  </div>
</div>
